@model Calculation
@using System.Collections
@{
    ViewData["Title"] = "Calculator";
}

@section Scripts
{
    <script>
        $(function() {
            clearAll();
            function updateCalculatorScreen() {
                console.log($('#Number1').val());
                $('#Number1').val( $('#Number1').val().replace(".", ",") );
                $('#Number2').val( $('#Number2').val().replace(".", ",") );
                $('#calculator-screen').html($('#Number1').val()+" "+$('#Operator').val()+" "+$('#Number2').val());
            }
            function clearAll() {
               $('#Number1').val('');
               $('#Number2').val('');
               $('#Operator').val('');
               updateCalculatorScreen();
            }
            var result = @ViewData["result"];
            if (result !== "null") {
                if (result.length <= 9) {
                    $('#Number1').val(result);
                    updateCalculatorScreen();
                } else {
                    $('#calculator-screen').html(result);
                }
            }

            $('.number-btn').click(function() {
                if ($('#Operator').val() === '') {
                    if ($('#Number1').val().length <= 9) {
                        $('#Number1').val($('#Number1').val()+$(this).val());
                    }
                } else {
                    if ($('#Number2').val().length <= 9) {
                        $('#Number2').val($('#Number2').val()+$(this).val());
                    }
                }
                updateCalculatorScreen();
            });
            $('#dot-btn').click(function() {
                if ($('#Operator').val() === '') {
                    if ($('#Number1').val().length <= 8 && $('#Number1').val().length > 0 ) {
                        $('#Number1').val($('#Number1').val()+$(this).val());
                    }
                } else {
                    if ($('#Number2').val().length <= 8 && $('#Number2').val().length > 0) {
                        $('#Number2').val($('#Number2').val()+$(this).val());
                    }
                }
               updateCalculatorScreen();
            });
            $('.operator-btn').click(function() {
                if ($('#Number1').val().length > 0) {
                    $('#Operator').val($(this).val());
                }
                updateCalculatorScreen();
            });
            
            $('#all-clear-btn').click(function() {
                clearAll();
            });
            $('#clear-btn').click(function() {
                if  ($('#Number2').val() !== '') {
                    $('#Number2').val($('#Number2').val().slice(0, -1));
                } else if ($('#Operator').val() !== '') {
                    $('#Operator').val('');
                } else if ($('#Number1').val() !== '') {
                   $('#Number1').val($('#Number1').val().slice(0, -1));
               }
                updateCalculatorScreen();
            });
            $('form').on('submit', function(e) {
                let error = null;
                if ($('#Operator').val() === '/' && $('#Number2').val() === '0') {
                    error = "You cannot divide by 0";
                    e.preventDefault();
                    $('#calculator-screen-error').css('display', 'flex').html(error).fadeIn();
                    setTimeout(function() {
                        $('#calculator-screen-error').fadeOut();
                    }, 1500);
                }
            });
            let last_calculations_div_collapsed = true;
            $('#last-calculations-btn').click(function() {
                if (last_calculations_div_collapsed) {
                    last_calculations_div_collapsed = false;
                    $('#last-calculations-div').slideDown(); 
                    $('.fa-sort-up').removeClass('fa-sort-up').addClass('fa-sort-down').css('margin-top', '-10px');
                } else {
                    last_calculations_div_collapsed = true;
                    $('#last-calculations-div').slideUp(); 
                    $('.fa-sort-down').removeClass('fa-sort-down').addClass('fa-sort-up').css('margin-top', '10px');
                }
            });
        });
    </script>
}

<div id="calculator-index-wrapper" class="container mt-5 pt-5">
    <div class="card mx-auto">
        <form asp-controller="Calculator" asp-action="Calculate" method="post">
            <input type="hidden" asp-for="Number1" />
            <span asp-validation-for="Number1" class="text-danger"></span>
            <input type="hidden" asp-for="Number2" />
            <span asp-validation-for="Number2" class="text-danger"></span>
            <input type="hidden" asp-for="Operator" />
            <input type="hidden" asp-for="UserId" value='@ViewData["userID"]' />
            
            <div id="last-calculations-btn">
                <div class="row mx-0">
                    <div class="col-12 px-0">
                        <i class="fas fa-sort-up"></i>
                    </div>
                    <div id="last-calculations-div">
                        @foreach (var calculation in (IEnumerable<Calculation>) ViewData["Calculations"])
                        {
                            <div class="col-12 border-bottom py-2">
                                @calculation.Number1.ToString().Replace(",", ".")
                                @calculation.Operator
                                @calculation.Number2.ToString().Replace(",", ".")
                                =
                                @calculation.Result.ToString().Replace(",", ".")
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="position-relative">
                <div id="calculator-screen"></div>
                <div id="calculator-screen-error"></div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-3"><button type="button" value="+" class="operator-btn d-block btn btn-primary">+</button></div>
                    <div class="col-3"><button type="button" value="-" class="operator-btn d-block btn btn-primary">-</button></div>
                    <div class="col-3"><button type="button" value="*" class="operator-btn d-block btn btn-primary">&times;</button> </div>
                    <div class="col-3"><button type="button" value="/" class="operator-btn d-block btn btn-primary">&divide;</button></div>
                </div>
                <div class="row mt-3">
                    <div class="col-9">
                        <div class="row">
                            <div class="col-4"><button type="button" value="7" class="number-btn d-block btn btn-light">7</button></div>
                            <div class="col-4"><button type="button" value="8" class="number-btn d-block btn btn-light">8</button></div>
                            <div class="col-4"><button type="button" value="9" class="number-btn d-block btn btn-light">9</button></div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-4"><button type="button" value="4" class="number-btn d-block btn btn-light">4</button></div>
                            <div class="col-4"><button type="button" value="5" class="number-btn d-block btn btn-light">5</button></div>
                            <div class="col-4"><button type="button" value="6" class="number-btn d-block btn btn-light">6</button></div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-4"><button type="button" value="1" class="number-btn d-block btn btn-light">1</button></div>
                            <div class="col-4"><button type="button" value="2" class="number-btn d-block btn btn-light">2</button></div>
                            <div class="col-4"><button type="button" value="3" class="number-btn d-block btn btn-light">3</button></div>
                        </div>
                    </div>
                    <div class="col-3"><button type="submit" class="d-block btn btn-secondary h-100">=</button></div>
                </div>
                <div class="row mt-3">
                    <div class="col-3"><button type="button" value="0" class="number-btn d-block btn btn-light">0</button></div>
                    <div class="col-3"><button type="button" id="dot-btn" value="." class="d-block btn btn-secondary">.</button></div>
                    <div class="col-3"><button type="button" id="all-clear-btn" class="d-block btn btn-danger">AC</button></div>
                    <div class="col-3"><button type="button" id="clear-btn" class="d-block btn btn-danger">C</button></div>
                </div>
            </div>
        </form>
    </div>
</div>